body {
    background-color: #f5f4f4;
    padding-left: 20px;
}
#top{
    background-color: #ffffff;
    margin-left: 10px;
    width: 92%;
    height: 50px;
    padding-left: 30px;
    padding-top: 2px;
}
.all{
    box-sizing: border-box;
    width: 280px;
    height: 436px;
    float: left;
    margin: 10px;
}
img{
    width: 280px;
    height: 261px;
}
.text{
text-align: center;
    font-family: 'Roboto Slab', serif;

}
.bot{
    height: 42px;
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 10px;
    font-family: 'Roboto Slab', serif;

}